@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table {
  display: table;
  position: relative;
  text-align: left;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  white-space: nowrap;
}

.table-compact :where(th, td) {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.table-auto {
  table-layout: auto;
}

.badge {
  display: inline-flex;
  height: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  border-width: 1px;
  border-radius: var(--rounded-badge, 1.9rem);
}

.badge-outline.badge-primary {
  --tw-text-opacity: 1;
  color: hsl(var(--p) / var(--tw-text-opacity));
}

.badge-outline {
  border-color: currentColor;
  --tw-border-opacity: 0.5;
  background-color: transparent;
  color: currentColor;
}
.custom-scroll::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #cecece;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #000;
  border-right: none;
  border-left: none;
}

.custom-scroll::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.custom-scroll::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
